# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

text-ui-test/EXPECTED-UNIX.TXT
text-ui-test/ACTUAL.TXT
.classpath
.project
data/
text-ui-test/data/
taa.log*
src/main/java/META-INF/MANIFEST.MF
.settings/
