# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Data folder
/data/
/text-ui-test/data/
/text-ui-test/log/

# UI test files
/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT

# Log folder
/log/

# old Log file
log
