# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/


/data/contacts.txt
/data/me.txt
# ensure that no existing contact data exists on remote, so that runtest.sh is always on fresh build
/text-ui-test/data/contacts.txt
/text-ui-test/data/me.txt
*.class